header{
    background-color:blue;
    margin:0%;
    height:auto;
}
body{
    background-color:rgb(245, 243, 243);
}
.messageLogo{
    float: right;
    color:black;
}
img{
    width: 5%;
}
.studentName{
    float:right;
    color: black;
}
.subMenu{
    background-color: black;
    width: 20%;
    margin-left:0%;
    height: auto;
}
main{
    width:80%;
    margin-left:30%;
}
h3{
    color:green;
    margin-top:0%;
}