.modal{
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    width:auto;
    height:auto;
    overflow:hidden;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.8);
    margin-right:auto;
    margin-left:35%;
    margin-top:5%;
}
.modal h4{
    border-bottom: 2px dotted blue;
    color: green;
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding:20px;
    border:0px solid #888;
    width:80%;
}
.close{
    color:red;
    float:right;
    font-size:28px;
    font-weight:bold;
    margin-top:5%;
    margin-right:10%;
}
.close:hover, .close:focus{
    color:#aaa;
    text-decoration: none;
    cursor:pointer;
}
form{
    margin-left:5%;
}
#fullName , #email{
    width:50%;
    background-color: transparent;
    border:1px solid silver  ;
    margin-left:3%;
    margin-bottom: 5%;
    padding:2%;
    font-size:10px;
    text-align:center;
    border-radius: 5px;
}
#email{
    margin-left:14%;
}
#comment{
    border:1px solid silver;
    margin-bottom: 5%;
    resize: none;
}
#submitComment{
    width:auto;
    color:white;
    font-weight: bold;
    background-color: blue;
    border:0px;
    
}
body{
    width:100%;
    background-color:white;
    margin:0px;   
}
header{
    background-color: #180d53;
    width: 90%;
    height: auto;
    border-bottom: 7px solid #daa520;
    margin-left:5%;
    margin-right:5%;
}
.icons{
    background-color: transparent;
    width:10%;
    margin-left: 5%;
    position: relative;
}
.book-store{
  background-color: transparent;
  margin-left:60%;
  width:30%;
  margin-top:-29px; 
 color:white; 
 font-size:1px; 
 position: relative;  
}
.book-store h1{
    font-size:1vw;
}
#cart{
    width: 42px;
    position: absolute; 
    top: 0%; 
    margin-top:-5px; 
}
.container{
    background-color: white;  
    width: 100%;
}
.logo{
    margin-left:5%;
    background-color:transparent;
    width: 40%;
}
.logo img{
    margin-left:50%;
    width: 15%;
    padding-right: 40px;
    border-right: 3px solid #daa520;
}
.student-login{
    width:60%;
    background-color:transparent;
    float:right;
    margin-right:5%;
    height: 10px;
    margin-top:-70px;
}
.student-login img{
    margin-left:80%;
    width:8%;
    margin-top: -5px;
}
/* .student-login img#prem{
    width:50%;
    margin-left:10%;
    margin-top:-100px;
} */
nav{
    display:flex;
    flex-direction: row;
    margin-left:25%;
}
.dropbtn{
    background-color:inherit;
    color:white;
    padding:9.5px;
    width:100%;
    font-size:15px;
    cursor:pointer;
    border:0px;
    margin:0px;
    transition: 0.5s;
    
}
.dropbtn:hover{
    background-color: #2980B9;
}
.dropbtn:focus{
    background-color: #daa520; 
    border-bottom:3px #daa520;
}
.dropdown{
    position: relative;
    display:inline-block;
}
.dropdown-content {
    display:none;
    position: absolute;
    background-color: #2980B9;
    max-width: 145px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #ddd; font-weight: bolder; }
.show {display:block;}
#newsE{
    margin-left:15%;
}
#myDropDown3{
    margin-left:17%;
    margin-top:0%;
}
#myDropDown2{
  
    margin-left:12%;
    margin-top:0%;
    width: 130px;
}
#myDropDown1{
    margin-left:0%;
    margin-top:0%;
}
#contact{
    padding-bottom: 14px;
    margin-left:30%;
    height: 40px;
}
#campus{
    margin-left:12%;
}
#feature{
    margin-left:10%;
}
/*header ends here */
.slider-container{
    width:88%;
    height:40%;
    position: relative;
    margin-left:5%;
    margin-top:2%;
  border:10px solid rgb(243, 241, 241);
  border-radius:5px
}
.mySlidesfade{
    display:none;
}
.fade{
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
}
@keyframes fade{
    from{opacity:.4};
    to{opacity:1};
}
@-webkit-keyframes fade{
    from{opacity:.4};
    to{opacity:1};
}

/* Slider Ends Here */

.material{
    margin-top:3%;
    background-color:#180d53;
    width:89%;
    height:30px;
    position: relative;
    margin-left:5%;
    border-radius: 2px;
    padding: 1px 0% 12px 0%;
    display: flex;
    flex-direction: row;
    color:white;
}
.material h3{
    margin-left: 5%;
    font-style: oblique;
    font-size: 100%;
    margin-bottom: 2px;
    width:60%;
    
}
.material span{
    color:#daa520;
}
.material button{
    background-color: #daa520;
    margin-left:15%;
    border:0px;
   margin-top:5px;
   width:120px;
   border-radius: 5px;
   color:white;
   font-weight: bold;
}
/*Get Material */
.container-link{
    margin-top:2%;
    width: 89%;
    display: flex;
    flex-direction: row;
    background-color: inherit;
    margin-left:auto;
    margin-right: auto;
}
.campus-life{
    width:23%;
    background-color: transparent;
    margin-left: 1%;
    color: #180d53;
    font-size:100%;
}
.admission{
    width:24%;
    background-color: transparent;
    margin-left:2%;
    color: #180d53;
    font-size:100%;
}
.atletics{
    width:24%;
    background-color: transparent;
    margin-left: 2%;
    color: #180d53;
    font-size:100%;
}
.news-event{
    width:21%;
    background-color: transparent;
    margin-left:2%;
    color: #180d53;
    font-size:100%;
}
/*Ends The Main content */
.tabs{
    margin-left:6%;
    margin-right:auto;
    margin-top:2%;
    overflow:hidden;
    background-color:transparent;
    width:89%;
    margin-bottom: 0px;
}
.tabs button{
    background-color: #180d53;
    width:190px;
    text-align:center;
    border-radius: 2px;
    color:white;
    font-weight: bold;
    padding:7px;
    cursor: pointer;
    transition:0.3s;
    border:0px;
    margin-bottom: 0px;
}
.tabs button:hover{
    background-color: #2980B9;
}
.tabs button:focus{
    background-color: #ffd700;
}
.tabcontent{
    width:87%;
    display: flex;
    border-top: 8px solid gold;
    background-color:#180d53;
    height: auto;
    margin-top:0%;
    margin-left:6%;
    margin-right:5%;
    /* display:none; */
}
.tabcontent img{
    width:18%;
    margin-left:1%;
    margin-top:3%;
}
/*ends tabs */
.footnote{
    display: flex;
    background-color: mediumpurple;
    width: 89%;
    margin-top:2%;
    font-size:3vw;
    margin-left:6%;
    flex-flow: nowrap;
    border-top:1px solid #c0c0c0;
    height: auto;
}
.footnote h4{
    font-size:50%;
    margin-bottom: 0px;
}
.a h4{border-bottom:1px solid green;color:purple}

.b h4{border-bottom:1px solid blue;color:red}
.c h4{border-bottom:1px solid #ffd700;color:blue}


ul{list-style-type: none;}
/* .l31 {
 
} */
li{margin-left:0%;font-size:45%;}

/*Ends Footer */
/*Media Queries */
@media only screen and (max-width: 600px){

    #fixassist button{
       /* width: 100%; 
       font-size:3.5vw; */
       display:none;
    }
    #fixassist{
        margin-left:2%;
    }
   .footnote{
       /* display: none; */
       margin-left:5%;
       padding: 0px;
       width:auto;
       font-size:3vw;
   }
  
  .a1 {
       width:20%;
      font-size:70%;
      margin-top:2%;
   }
   .a,.b,.c{
       width:25%; 
       margin-top:2%;
   }
   .a h4, .b h4 ,.c h4{
        font-size:80%;
        width:58%;
        flex-wrap:nowrap;  
    }
    .b h4{width:30%;}
    .c h4{width:25%;}
    .a ul, .b ul, .c ul{
        margin-top:0%;
        width: auto;
        margin-left:2%;
    }
    li{
        float:none;
        margin-left:-40px;
        margin-top:0px;
        font-size:2.2vw;
     }
   header{
       height: auto;
       width:auto;
   }
  .icons{
      width:50%;
  }
   .icons img{
    width: 400%;
    
   }
   .book-store {
       display:none;
   }
  
   .container{
       margin-top:0%;
   }
   .logo{
    width: 80%;
    margin-left:-10%;
   }
   .student-login img{
       width:23%;
       margin-top: 0%;
      float: left;
      margin-left: 60%;
   }
   nav{
       float:none;
       margin-left:1%;
   }
   .slider-container{
       margin-left:2%;
   }
   .dropbtn{
       width:auto;
       margin-top: 15%;
   }
   .dropbtn:focus{
    border-bottom:0px #daa520;
    }
    .material{
        margin-left:3%;
    }
    .material h3{
        font-size: 50%;
        width:auto;
    }
    .material button{
        width:125px;
        margin-right:1%;
        font-size:10px;
        font-weight: normal;
    }
    .container-link img{
        width:100%;
    }
    .campus-life,  .admission{
        width: auto;
        font-size:12px;
        overflow: scroll;
    }
    .atletics , .news-event{
        width: auto;
        font-size:12px;
        overflow: scroll;
    }
    #ourMission, #lecturers{
        width: auto;
    }
    #facilities,#schoolClub{
        width: auto;
    }
    .tabcontent{
        width:auto;
    }
   
}
@media only screen and (min-width:601px){
    body{ 
        width:auto;
        height: auto;
        box-sizing: border-box;
    }
    header{
        width: auto;
        height: auto;
    }
    #cart{
        margin-left:65%;
        margin-top:-5px; 
        width:auto;
    }
    .icons{
        width:50%;
    }
    .icons img{
        margin-top:0px;
        /* width: 100%; */
    }
    .book-store{
        margin-left: 50%;
        
    }
    .book-store h1{
        font-size:1.5vw;
    }
    .logo img{
        width: 28%;
    }
    .student-login{
        width:100%;
        margin-top: -11%;
    }
    .logo{
        margin-top: 0%;
    }
    nav{
        margin-left:-1%;
    }
    .campus-life, .admission
     {
        width: auto;
        font-size:auto;
        overflow: auto;
    }
    .atletics, .news-event{
        width: auto;
        font-size:auto;
        overflow: auto;
    }
    #ourMission, #lecturers{
        width: auto;
    }
    #facilities, #schoolClub{
        width: auto;
    }
    .tabcontent{
        width:auto;
        overflow: hidden;
    } */
    .footnote{
        display: none; 
        margin-left:0%;
        padding: 0px;
        /* overflow: hidden; */
        width:88%;
    }
    .material h3{font-size: 70%;}
    .material button {margin-left: 10%}
    .campus-life img, .admission img{ width:100%;}
    .atletics img, .news-event img{width: 100%}
    .a1 {
        width:20%;
       font-size:50%;
       margin-top:3%; 
       margin-left: 5% ;
       margin-right:8%;
    }
    .a,.b,.c{
        width:25%; 
        margin-top:0%;
    }
    .a h4, .b h4 ,.c h4{
         font-size:80%;
         width:60%;
     }
     .b h4{width:50%;}
     .c h4{width:38%;}
     .a ul, .b ul, .c ul{
         margin-top:0%;
         width: auto;
         margin-left:2%;
     }
     li{
         float:none;
         margin-left:-40px;
         margin-top:0px;
         font-size:2.2vw;
      }
   
}
@media only screen and (min-width: 768px) {
    .book-store h1{
        font-size:1.5vw;
    }
    #cart{
      margin-left:63%;
      width: 13%;
    }
    nav{margin-left:10%}
   .container{
       margin-top:3%;
   }
   .material h3{
    margin-left: 1%;
    font-size:95%
    }
    .a,.b,.c{
        margin-left:20px;
        width:28%;
        display: flex; 
        flex-wrap: wrap;
    }
    .a h4, .b h4, .c h4{width:70%;}
    .b h4 {width: 50%;}
    .c h4{width:40%;}
  
} 
@media only screen and (min-width: 1200px){
    .book-store h1{font-size:1vw;}
    #cart{ margin-left:45%;width:30px;}
    .a1{
        font-size:30%;
        width:auto;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 0%;
    }
    .a,.b,.c{
        margin-top: 2%;
        padding: 15px;
        height: 100px;
        margin-left:0px;
        display: block;
        width:28%;
        flex-wrap:nowrap;
    }
    .a h4, .b h4 ,.c h4{
        margin-top:-5%;
        margin-left:16%;
        width:38%;
        flex-wrap:nowrap;
        
    }
    .student-login{
        width:auto;
    }
    .student-login img{
        width:auto;
        margin-left:-60%;
        margin-top:37%;
    }
    .b h4{width:30%}
    .c h4{width:25%}
    .a ul, .b ul, .c ul{
        margin-top:0%;
        width: auto;
        margin-left:2%;
    }
    li{
        float:none;
        margin-left:0px;
        padding:0px;
        margin-top:0px;
        font-size:1.3vw;
     }
}
 @media only screen  and (device-width:600px){
    .student-login{
        width:40%;
        margin-top: -10%;
    }
    nav{
        margin-left: 25%;
    }
    
    
} 
@media only screen  and (device-width:384px){
    .student-login img{margin-top: -2%;}
}
@media only screen  and (device-width:640px){
    #cart{ width:27px }
}
@media only screen  and (device-width:411px){
    .student-login{margin-top: -20%;}
}
@media only screen  and (device-width:412px){
    .student-login{margin-top: -20%;}
}
@media only screen  and (device-width:375px){
    .student-login{margin-top: -21%;}
}
@media only screen  and (device-width:414px){
    .student-login{margin-top: -21%;}
}
